<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alfonso Website</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/2cf03dde73.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <img id="nav-logo" src="../../images/logo.png" alt="web page-logo">
        <button <i class="fas fa-bars"></button>
        <ul id="nav-links">
            <li>home</li>
            <li>take</li>
            <li>Contact</li>
        </ul>
    </nav>